
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-width: 100%;
    font-size: 16px;
    font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
    line-height: 24px;
    color: #FFF;
    }
    body a{
        color: #FED14F;
    }
h1 {font-size:32px;font-weight:700;}
h2 {font-size:26px;font-weight:500;}
h3 {font-size:34px;font-weight:300;}
img {
    max-width: 100%;
    height: auto;
    align-self: end;
}
/* --- SLF SCAFFOLDING ---------------------- */
.cursor-add{
    cursor: pointer;
}
.fifth-flex {
    width: 20%;
    flex-basis: 20%;
    box-sizing: border-box;
}
.fourth-flex {
    width: 25%;
    flex-basis: 25%;
    box-sizing: border-box;
}
.third-flex {
    width: 33%;
    flex-basis: 33%;
    box-sizing: border-box;
}
.half-flex {
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
}
.two-third-flex {
    width: 66%;
    flex-basis: 66%;
    box-sizing: border-box;
}
.three-fourth-flex {
    width: 75%;
    flex-basis: 75%;
    box-sizing: border-box;
}
.full-flex {
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
}
/* -- end SLF SCAFFOLDING ------------------- */
.vport{
    min-height: 100vh;
    width: 100%;
    background: url('../img/ccbkgrd.jpg') #000 center top;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.vport .flex-item{
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    position: relative;
    bottom: 0px;
    display: flex;
}
.vport.home main {
    margin: auto 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: baseline;
    }
    .vport.home main .flex-item{
        margin: 40px;
    }
    .vport.home main .flameMouse{
        flex-basis: 35%;
    }
    .vport.home main .pencil{
        width: 2.5%;
    }
    .vport.home main .mpencil{
        width: 4.5%;
    }
    .vport.home main .wacompencil{
        width: 5%;
    }
nav.mainNav {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
    font-weight: 100;
    width: 33%;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    right: 0px;
    background: rgba(0,0,0,.7);
    height: 100vh;
    box-sizing:border-box;
    padding: 40px;
    background-blend-mode: multiply;
    }
    .vport nav ul.nav-list {
        list-style: none;
    }
    .vport nav ul.nav-list li {
        margin-left: -30px;
        padding-left: 0px;
        line-height: 4rem;
    }
    .vport nav ul.nav-list li a{
        color: #FFF;
        text-decoration: none;
        transition: all .35s;
        }
        .vport nav ul.nav-list li a:hover{
            color: #2D99CD;
        }
        .vport nav ul.nav-list li a::after{
            content: url('../img/plus.png');
             margin: 0px;
            padding: 10px;
            line-height: 0px;
            position: relative;
            top: 10px;
            transition: all .5s;
            opacity: 0.0;
            margin-left: 50px;
        }
        .vport nav ul.nav-list li a:hover::after{
            opacity: 1.0;
            margin-left: 0px;
        }
    .vport nav img{
        width: initial;
    }
    nav h2{
        font-size: 20px;
    }
    nav h2, nav p{
        margin: 0px;
        padding: 0px;
    }
    nav a {
        text-decoration: none;
    }
    #contactcc {
        position: absolute;
        bottom: 40px;
    }
/* -- PORTFOLIO ------------------------ */
#defaultWrap {
    height: 100vh;
    overflow: hidden;
    opacity: 1.0;
    transition: display .5s;
}
#portfolioWrap {
    height:0px;
    overflow: hidden;
}
.portSlide{
    opacity: 0.8;
    transform: scale(0.7);
    border-radius: 20px;
    cursor: pointer;
    }
    .portSlide:hover{
        opacity: 0.7;
    }
.portSlide.activeSlide{
    opacity: 1.0;
    transform: scale(1.0);
}

.activeSlide{
  position: absolute;
  z-index: 10;
  width: 60%;
  left: 10%;
  transform: translateX(-25%);
  transition: all .5s;
}
.activeSlide img{
  border-radius: 10px;
  border: 2px solid #FFF;
  box-shadow: 0px 0px 40px #069;
  transition: all .5s;
}
/* -- MEDIA QUERIES -------------------- */
.mbl-only {
    display: none;
}
@media screen and (max-width: 960px){
    .flex-item.dsk-only{ 
        display: none;
    }
    .vport.home main .flameMouse.mob-full{
        flex-basis: 100%;
        margin: 0%;
        opacity: .2;
    }
    .vport nav, .vport main{
        flex-basis: 100%;
        min-width: 375px;
        padding-left: 20px;
        margin-left: 20px;
        left: -20px;
    }
    .dsk-only {
        display: none;
    }
    .mbl-only {
        display: flex;
    }
    #disclaimer {
        position:absolute; top: 10px;left: 0px;width: 250px;font-weight:bold; background: orange; padding: 10px; border-radius: 15px;border:5px solid #000;;box-sizing: border-box;
    }
    nav {
        order: 1;
    }
    main {
        order: 2;
    }
}