html {
  scroll-behavior: smooth;
}
body{
    background: #000;
}
img {
    max-width: 100%;
}
#mainNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    z-index: 10;
}
.navbar-collapse li{
    padding: 0px 10px;
    background :#fafafa;
}
.navbar-collapse li a{
    background: #FFF;
    padding: 10px;
    color: #FEC013;
}

#mainNav img{
    display: block;
    max-width: 200px;
    margin-right: 40px;
}
.navbar-collapse.collapse.in {
  display: block!important;
}
a.nav-link{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    }
    a.nav-link:hover {
        color: #FEC013;
    }
.navbar-brand {
    width: 200px;
    padding: 0px 0px 0px 0px;
}
#intro {
    background: url(../img/ccbkgrd.jpg) center center no-repeat #000;
    margin-top: -10vh;
    background-size: cover;
}

#intro h2{
    font-size: 6rem;
    color:  #FFF;
    font-family: 'Abril fatface', 'Garamond Pro','Helvetica', sans-serif;
}
.mbl-only{
    display: none;
}

button.navbar-toggler{
    border: #FEC013 1px solid;
}
.fas{
    color: #FEC013;
    padding-bottom: 10px;
}
.portfolioBkgrd {
    background: url(../img/portBkgrd.jpg) no-repeat center top
}
#portfolio{
    background: rgba(14,85,109,0.95);
    min-height: 50vh;
    align-content: center;
    justify-content: center;
    border-top: 3px solid #FEC013;
    border-bottom: 3px solid #FEC013;
    padding-top: 10px;
    padding-bottom: 30px;
}
#portfolio h2{
    color: #FFF;
    font-family: 'Abril Fatface','Garamond Pro','Helvetica Neue',sans-serif;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}
#portfolio .portItem {
    background: #FFF;
    padding: 20px;
}
#portfolio .card{
    max-width: 22.5%;
    margin: 1.25%;
    border-radius: 0px 0px 0px 0px;
    border: none;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}
#portfolio .card img{
    border-radius: 0px 0px 0px 0px;
}
#portfolio .card h5{
    font-family: 'Abril Fatface','Garamond Pro', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #666;
}
#portfolio .card h6{
    font-style: italic;
    font-weight: normal;
    color: #999;
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
}
.btn.btn-primary{
    background: #FEC013;
    font-weight: 900;
    text-shadow: -1px 1px 0px rgba(0,0,0,0.3);
    font-family: 'Helvetica Neue','Helvetica',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: 1px solid #a05c09;
    width: 100%;
}
.tagline {
    margin-top: 20vh;
    margin-bottom: 15vh;
}
@media screen and (max-width: 960px){
    .dsk-only{
        display: none;
    }
    .mbl-only{
        display: flex;
    }
    #portfolio .card {
        max-width: 47.5%
    }
     #intro .tagline {
        text-shadow: 0px 0px 5px #000;
        font-size: 4rem;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    #portfolio h2{
        font-size: 2rem;
    }
}
.footer {
    background: #27526d;
}
.footer img{
    margin: 0px auto;
    text-align: center;
    width: 100px;
    display: block;
    padding: 50px 0px;
}

@media screen and (max-width: 600px){
    #portfolio .card {
        max-width: 97.5%;
    }
    #intro .tagline {
        text-shadow: 0px 0px 5px #000;
        font-size: 2rem;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
}
